NODE_ENV=development

REDIS_URL=redis://localhost:6379

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_ACCESS_TOKEN=
GOOGLE_REFRESH_TOKEN=
GOOGLE_EXPIRY_DATE=
GOOGLE_CREDENTIALS= 
GOOGLE_JSON_CREDENTIALS= 
GOOGLE_REDIRECT_URI=http://localhost:3000/gmail/callback

EVOLUTION_URL=
EVOLUTION_INSTANCE=
EVOLUTION_API_KEY=
NUMERO_DESTINO=
CORREO_ALERTA=

DATABASE_URL="postgres://postgres:postgres@localhost:5432/postgres"

INTERNAL_TOKEN=
OPENAI_API_KEY=